.customStack1 {
    //  width: max-content !important;
    margin: 0 !important;
    // padding: 0 !important;
    // display: contents;
    // flex: 1.5 !important;

    .MuiTextField-root {
        width: 100% !important;
        // margin: 0 !important;
        //     // display: flex;

    }
}

.customDateTime {
    justify-content: center !important;
    width: 100% !important;

}

.dateTimeContainer {
    .input-field-container {
        width: 100% !important;
        justify-content: flex-start !important;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}