.customStack{
    margin: 0 !important;
    .MuiTextField-root{
        width: 55% !important;
    }
}

.customDateTimePicker{
    margin: 0 !important;
    .MuiTextField-root{
        width: 100% !important;
    }
    
}


.customInput{
    margin: 0 !important;
    
}

